---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <h1>🧑 Hello, Astronaut!</h1>
      <p>
        Welcome to our innovative sewing site, where creativity and sustainability come together in
        perfect harmony! If you have a passion for fashion and a desire to reduce your environmental
        footprint, you've come to the right place. Our site is dedicated to the art of recycling old
        clothes through the transformative power of sewing. We believe that every garment has a
        story to tell and deserves a second chance to shine. Join us as we embark on a journey of
        repurposing, upcycling, and breathing new life into forgotten fabrics. Whether you're a
        seasoned seamstress or just beginning your sewing adventure, prepare to be inspired,
        empowered, and amazed at the endless possibilities awaiting you in the world of sustainable
        fashion. Together, let's stitch a brighter, greener future, one thread at a time.
      </p>
    </main>
    <Footer />
  </body>
</html>
